.add-form {
    background-color: #000000a6;
    box-shadow: 0 10px 60px rgb(78, 82, 90);
    border: 1px solid rgb(159, 159, 160);
    border-radius: 20px;
    padding: 2rem .7rem .7rem .7rem;
    /* text-align: center; */
    font-size: 1.125rem;
    max-width: 580px;
}

.form-top-text {
    text-align: center;
}

.post-name {
    color: #fff;
    display: inline-block;
    width: 100%;
}

.add-fields label textarea {
    width: 100%;
    /* height: 0px; */
    border-radius: 20px;
    border: none;
    background-color: #ffffff67;
    padding: 10px;
    color: #080606;
    font-size: 20px;
    max-width: 555px;
    min-width: 555px;
    max-height: 270px;
    min-height: 70px;
    outline: none
}

.add-fields label input {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #ffffff9c;
    outline: none;
    padding: 10px;
}

textarea:focus {
    border: none;
}

.form-title {
    color: #5a5454;
    font-size: 1.8rem;
    font-weight: 500;
}

.form-paragraph {
    margin-top: 10px;
    font-size: 0.9375rem;
    color: rgb(105, 105, 105);
}

.drop-container {
    background-color: #ffffff9c;
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 2.1875rem;
    border-radius: 10px;
    border: 2px dashed rgb(171, 202, 255);
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: rgba(2, 53, 94, 0.164);
    border-color: rgba(17, 17, 17, 0.616);
}

.drop-container:hover .drop-title {
    color: #858484;
}
.drop-container:hover .or {
    color: #858484;
}

.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

#file-input {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 2px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.288);
}

#file-input::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

#file-input::file-selector-button:hover {
    background: #0d45a5;
}

/* add button */
.button-name {
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    color: #36395A;
    cursor: pointer;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    padding: 0 16px;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-top: 15px;
}

.button-name:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-name:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-name:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}